* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.universal{
    display: flex;
}
.img{
    border-radius: 50%;
    height: 100px;
    width: 100px;
    display: flex;
   margin: 30px auto;
   border: none;
   transition: 0.5s;
}

.img:hover{
    transform: scale(110%);
}
.lista{
    display: grid;
}
.lista a{
    text-decoration: none;
    color: #ffffff81;
    transition: 0.5s;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}
.lista a:hover{
    color: #ffffff;
}
.lista{
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.baixo a{
    text-decoration: none;
    color: #ffffff81;
    transition: 0.5s;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}
.baixo a:hover{
    color: #ffffff;
}

.dash{
    margin-bottom: 10px;
    opacity: 70%;
}
.meio h3{
    color: #ffffff;
    text-align: center;
}